/* 

Déclaration des classes globale 

*/
::selection {
    background-color: #06D6A0;
    color: #fff;
}

::-webkit-scrollbar
{
    width: 12px;
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: transparent;
}

::-webkit-scrollbar-thumb
{
background-color: rgb(255,90,90);
}


@media screen and (max-width: 750px) {
::-webkit-scrollbar
{
    width: 0px;
    height: 0px; /* for horizontal scrollbars */
}
}


@font-face {
    font-family: Dubai-Bold;
    src: url('../font/Dubai-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Dubai-Light;
    src: url('../font/Dubai-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Dubai-Medium;
    src: url('../font/Dubai-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Dubai-Regular;
    src: url('../font/Dubai-Regular.ttf');
    font-weight: 400;
}

body{
    overflow-x: hidden;
}

th {
    cursor: pointer;
}

a{
    text-decoration: none;
}

button,
.btn-donate{
    cursor: pointer;
    background-color: #FA575D;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 0.9em;
    text-transform: lowercase;
}

.backoffice a:hover {
    color: #014c8c;
}

.btn-link,
.btn-link:hover {
    color: #fff;
    text-decoration: none;
}

video{
    position: absolute; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
}

h1.h1 {
    margin-bottom: 30px;
}

.hoverFix:hover{
    color: inherit;
}

.tagColors {
    padding: 0;
}

.tagColor {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.border {
    border: 1px solid black;
}

[class*="tag_"] {
    color: white;
}

.colorful {
    margin-top: 40px;
}

.vab {
    vertical-align: bottom;
    margin-right: 20px;
}

img {
    max-width: 100%;
    margin: 0 auto;
}

.jumbotron {
    width: 60%;
    margin:0 auto;
}

.mgb-tags {
    margin: 20px 0;
}

.tag_red {
    background: #cd3d41;
}

.tag_blue {
    background: #62ccff;
}

.tag_yellow {
    background: #ffdf4d;
}

.tag_pink {
    background: #fb9cff;
}

.mg-top {
    margin: 20px 0;
}

.decorationNone{
    text-decoration: none !important;
    color: rgb(190,190,210);
}

.decorationNone:hover{
    color: inherit;
}

/* PAGE ARTICLE */

.h1-article {
    line-height: 150%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.img-center {
    display: block;
    margin: 0 auto;
}


.text-article {
    width: 90%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.tags {
    margin-top: 20%;
}

.date-article {
    margin-top: 20%;
}

.btn-event {
    margin-bottom: 10%;
}

@media screen and (max-width: 770px) {
    .text-article {
        width: 100%;
        padding: 8%;
    }

    .h1-article {
        text-align: center;
        margin-bottom: 13%;
    }

    .tags {
        margin-top: 5%;
    }

    .inline {
        display: inline-block;
    }

    .hidden {
        display: none;
    }

    .btn-event {
        margin-left: 5%;
        margin-bottom: 0;
    }

    ::-webkit-scrollbar {
        background: transparent;
    }
}

.pointer{
    cursor: pointer;
}

.invisible{
    display: none;
}

/* 

Barre de nav top

*/

nav ul{
    list-style: none;
}

.nav-link{
    color: white;
}

.navbar-light .navWhite .navbar-nav .nav-link,
.navbar-light .navWhite.navbar-nav .nav-link:hover{
    color: #fff;
}

.backgroundNav{
    z-index: 5;
    height: 50px;
    background-color: white;
    overflow: auto;
    position: fixed;
    -webkit-box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
    box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
}

.backgroundNav nav ul li:first-child{
    position: absolute;
    left: 18%;
    font-size: 1.1em;
    font-weight: 600;
}

.liNavBar{
    position: absolute;
    top: 1.5vh;
    right: 0px;
    margin-right: 6%;
}

.liNavBar button{
    -webkit-box-shadow: -5px 4px 15px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: -5px 4px 15px 0px rgba(0,0,0,0.07);
    box-shadow: -5px 4px 15px 0px rgba(0,0,0,0.07);
    background-color: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    right: -10px;
    top: -20%;
    cursor: pointer;
    z-index: 4;
}

.liNavBar button img{
    width: 18px;
    height: 18px;
}

.form-wrapper input:focus + .underline{
    width: 100%;
    left: 0%;
    transition: 0.4s;
}

.underline{
    z-index: 3;
    position: absolute;
    bottom: 0px;
    left: 50%;
    height: 1px;
    width: 0%;
    background-color: lightgreen;
    transition: 0.4s;
}

input{
    outline: none;
}

input[name="searchBar"]{
    border:none;
    border-bottom: 1px solid #ededed;
    padding: 3px 25px 3px 6px;
    font-size: 1em;
}

/* 


Barre de nav aside


*/

.backgroundNavAside{
    height: 100vh;
    position: fixed;
    z-index: 6;
    background-color: #3A3F52;
    overflow: auto;
}
.list-group-item:first-child{
    border-radius: 0px;
}
.paddingFix{
    padding: 0px;
}
.marginTopNavAside{
    margin-top: 15vh;
}
.list-group-item{
    background-color: transparent;
    color: rgb(190,190,210);
    transition: 0.3s;
    border-radius: 0px;
    border: none;
    cursor: pointer;
}
.backgroundNavAside ul li a{
    text-decoration: none;
}
.list-group-item:hover{
    color: white;
}
.active{
    background-color: #13DAFD !important;
}
.active a{
    color: white;
}
.list-group-item span{
    background-color: #B3B4E1;
    transition: 0.3s
}

/* 


Style des carte material design 


*/

.card{
    background-color: white;
    -webkit-box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
    box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
    overflow: hidden;
    padding: 20px;
    margin-left: 2.5%;
    border: 0px !important;
}

.cardPageAdd{
    background-color: white;
    -webkit-box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
    box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
    overflow: hidden;
    padding: 30px;
    margin-left: 2.5%;
    border: 0px !important;
}

.descriptionCard .strong{
    font-weight: 600;
    font-size: 2em;
    margin-left: 5%;
}


.margin-top-published{
    margin-top: 5vh;
}
.white-box{
    margin-top: 5vh;
}

.alignTop{
    padding-top: 15vh;
}
.behindFix{
    position: relative;
    z-index: 2;
}

.alignTopSelect{
    margin-top: 5vh;
}

.alignLeftTag{
    margin-left: 10px;
    cursor: pointer;
}

/* 



Pagination



*/

.page-link{
    color: rgb(190,190,210);
}
.alignTopPagination{
    margin-top: 10vh;
}

/* 


Page add


*/

[class*="tag_"]
{
    color: white;
}

.col-xs-8Custom,
.col-md-8Custom{
    width: 64.5%;
}

.styleForm{
    margin-top: 20px;
    font-size: 1.2em;
}

.marginBottomAjoutArticle{
    margin-bottom: 20px;
}

.marginTopAddTag{
    margin-top: 15px;
}

#details
{
    margin-top: 3%;
}

#details .jumbotron {
    padding: 0;
}

.container li {
    list-style: none;
}

a:hover,
.btn a{
    color: white;
    text-decoration: none;
}

.tagsLink button {
    margin: 0 10px;
}

.tagsLink button:first-child {
    margin-left: 0;
}

.tagsLink {
    padding-left: 0 !important;
}

#details article
{
    width: 85%;
    margin: 3% auto;
    line-height: 27pt;
    font-size: 18px;
}

#details ul {
    padding: 3% 5% 3% 1%;
}

/* 

Home page

*/


.fontWeightBoldDubai{
    font-weight: 600;
}

/* 

Navbar

*/

.ctaHome{
    padding: 15px 80px 15px 80px !important;
}

.navBlack{
    color: black;
}

.navbar{
    font-size: 0.95em;
    height: 8vh;
    background-color: transparent;
}

.navbar-collapse ul li{
    margin-right: 10px;
    font-weight: 500;
}

.navbar-collapse ul li:last-child{
    margin-right: 100px;
}

.dropdownStyleFix button{
    background-color: transparent;
    color: rgb(70,70,70);
    border: none;
}
.navbar-brand{
    width: 80px;
}

/* 

Footer

 */

footer{
    margin-top: 10vh;
    padding-bottom: 20px;
}

footer a{
    color: rgb(40,40,40);
    transition: 0.3s;
}

footer a:hover{
    color: rgb(255,90,90);
}

.linkMarginBottomFooter{
    margin-top: 12px;
}


/* 
HomePage premier 100vh
*/

.homePage{
    height: 92vh;
    text-align: center;
}

.callToAction{
    background-color: grey;
    padding: 20px 0px 20px 0px;
    width: 350px;
    color: white;
    border: none;
    font-size: 0.8em;
    font-weight: 600;
}

.homePage h2{
    margin-top: 30vh;
    color: white;
    font-size: 2.875em;
    font-weight: 400;
}

.homePage button{
    margin-top: 5vh;
}

/* 

background suivant les pages 

*/

.quiSommesNousBg{
    background-image: url('../img-content/front/backgroundQuiSommesNous.jpg');
    background-size: cover;
}

.backgroundPageNotreQuotidien{
    background-image: url('../img-content/front/backgroundPageNotreQuotidien.jpg');
    background-size: cover;
}
/* 
HomePage reste du contenu
*/

.contentHomePage{
    margin-top: 15vh;
}

.rowMarginTopFixCallToAction .card{
    margin: 0 auto;
}

.rowMarginTopFixCallToAction .card{
    margin-left: 0;
}
.homePageCta{
    padding: 12px 80px 12px 80px;
}
.contentHomePage .row:nth-child(n+2){
    margin-top: 20vh;
}

.contentHomePage div.row:nth-of-type(1) div:nth-of-type(1) img,
.contentHomePage div.row:nth-of-type(2) div:nth-of-type(2) img,
.contentHomePage div.row:nth-of-type(3) div:nth-of-type(1) img{
    width: 100%;
    height: 350px;
    position: relative;
    z-index: 3;
    border-radius: 10px;
}

.rectImgColorRed{
    background-color: #fa575b;
    border-radius: 10px;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 2;
    width: 100%;
    height: 350px;
}

.contentHomePage h3{
    font-size: 1.8em;
    font-weight: 500;
    margin-bottom: 40px;
}

.contentHomePage p{
    font-size: 1.300em;
    font-weight: 300;
    line-height: 1.8em
}

.alignContainerTextHomePageRight{
    margin-top: 100px;
    margin-left: 5%;
}

.alignContainerTextHomePageLeft{
    margin-top: 100px;
    margin-right: 3%;
}

.rectImgColorYellow{
    background-color: #ffc145;
    border-radius: 10px;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 2;
    width: 100%;
    height: 350px;
}

.rectImgColorGreen{
    background-color: #06d6a0;
    border-radius: 10px;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 2;
    width: 100%;
    height: 350px;
}
.contentHomePage h4{
    font-size: 1.5em;
    margin-bottom: 70px;
}
.rowMarginTopFixCallToAction{
    margin-top: 20vh;
}

/* 

section dernière actu

*/

.derniereActu h3{
    font-size: 1.8em;
    font-weight: 500;
    margin-bottom: 40px;
}

.derniereActu h4{
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 10px;
}

.derniereActu p{
    font-size: 1.200em;
    font-weight: 300;
    line-height: 1.8em;
}

.buttonCTA{
    font-size: 1.4em;
    color: white;
}
.backgroundBannerHommePageOne{
    background-image: url('../img-content/front/quiSommesNous8.jpg');
    background-size: cover;
    height: 45vh;
}
.backgroundBannerHommePage2{
    background-image: url('../img-content/front/bannerHomePage.jpg');
    background-size: cover;
    height: 45vh;
}


/* 

Responsive home page

*/

@media screen and (max-width: 767px) {

    .rectImgColorGreen,
      .rectImgColorRed,
      .rectImgColorYellow{
        display: none;
    }
    .row{
        margin: 0;
    }
    .rowMarginTopFix{
        margin-top: 20px !important;
    }
    .rowMarginTopFixCallToAction{
        margin-top: 20vh;
    }
    .alignContainerTextHomePageRight{
        margin-left: 0%;
        margin-top: 20px;
        padding: 10px;
    }

    .alignContainerTextHomePageLeft{
        margin-top: 20px;
        padding: 10px;
    }
    .contentHomePage h3{
        text-align: center;
    }

    .contentHomePage p{
        text-align: center;
    }
    .contentHomePage img{
        border-radius: 0px;
        display: block;
    }
    .orderContentHomePage{
        order: -1;
    }
    .contentHomePage div.row:nth-of-type(1) div:nth-of-type(1) img,
    .contentHomePage div.row:nth-of-type(2) div:nth-of-type(2) img,
    .contentHomePage div.row:nth-of-type(3) div:nth-of-type(1) img{
        border-radius: 0px;
        padding: 10px;
        height: 300px;
    }
    .responsiveAlignHomePageImg{
        text-align: center;
    }
}

/* 
page qui sommes nous ?
*/

.homePage p{
    color: white;
    margin-top: 5vh;
    font-size: 1.250em;
}

.alignTopTitleAboutUS{
    margin-top: 35vh !important;
}

.marginTopBannerAboutUs{
    margin-top: 16vh;
}

.contentPageWhoAreYou{
    margin-top: 15vh;
}

.contentPageWhoAreYou p{
    font-size: 1.188em;
    font-weight: 300;
    padding-top: 70px;
}
.containerImgPageWhoAreYou{
    width: 30em;
    height: 20em;
    position: relative;
}
.positionnement{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    border-radius: 10px;
}

.imgRotatePageWhoAreYou{
    width: 30em;
    height: 20em;
}

.contentPageWhoAreYou .rectImgColorRed{
    background-color: #fa575b;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    right: -15px;
    z-index: 2;
    width: 30em;
    height: 20em;
}

.contentPageWhoAreYou .rectImgColorPink{
    background-color: #fa575b;
    border-radius: 10px;
    position: absolute;
    top: -12px;
    left: -12px;
    z-index: 2;
    width: 6em;
    height: 25em;
}

.marginTopContentPageWhoAreYou{
    margin-top: 25vh;
}

.widthImgSectionTwo{
    width: 25em;
    height: 25em;
}

.bannerPageWhoAreYou{
    width: 100%;
    height: 60vh;
    margin-top: 40vh;
    color: white;
    font-size: 1.5em;
    position: relative;
    background-image: url('../img-content/front/quiSommesNous8.jpg');
    background-size: cover;
}

.bannerPageWhoAreYouFirstPosition{
    position: relative;
    width: 100%;
    height: 90vh;
}

.bannerPageWhoAreYouFirst{
    width: 100%;
    height: 60vh;
    margin-top: 40vh;
    color: white;
    font-size: 1.5em;
    z-index: 3;
    position: absolute;
    background-image: url('../img-content/front/bannerHomePage2.jpg');
    background-size: cover;
    background-position: center;
}


.rectImgColorYellowBanner{
    background-color: #FFC145;
    border-radius: 10px;
    position: absolute;
    top: 37vh;
    right: 5%;
    z-index: 2;
    width: 45%;
    height: 30vh;
}


/* 
Notre stratégie 
*/


.styleTitleNotreStategie{
    margin-bottom: 10vh;
    font-size: 3em;
    font-weight: bold;
}

.styleTitleLequipeBureau{
    padding-top: 10vh;
    margin-bottom: 10vh;
    font-size: 3em;
    font-weight: bold;
}

.paddingTopFix{
    padding-top: 10px !important;
}

.containerImgNotreStrategie{
    width: 100%;
    position: relative;
}

.containerImgNotreStrategie img{
    width: 90%;
    background-color: #D8D8D8;
    position: relative;
    z-index: 3;
}

.rectImgColorRedStrategieOne{
    background-color: #06d6a0;
    border-radius: 10px;
    position: absolute;
    top: -20px;
    right: 10px;
    z-index: 2;
    width: 25%;
    height: 27vh;
}

.rectImgColorRedStrategieTwo{
    background-color: #fa575b;
    border-radius: 10px;
    position: absolute;
    bottom: -15px;
    left: 10px;
    z-index: 2;
    width: 50%;
    height: 20vh;
}

.rectImgColorRedStrategieThree{
    background-color: #fa575b;
    border-radius: 10px;
    position: absolute;
    bottom: -17px;
    left: 10px;
    z-index: 2;
    width: 30%;
    height: 27vh;
}

.rectImgColorRedStrategieFour{
    background-color: #FFD37B;
    border-radius: 10px;
    position: absolute;
    bottom: -15px;
    right: 17px;
    z-index: 2;
    width: 70%;
    height: 100px;
}

.containerImgNotreStrategie p{
    font-size: 1em;
    font-weight: 400;
    margin-top: 25px;
    padding-top: 0px;
    position: absolute;
    z-index: 5;
}
.containerImgPageWhoAreYouSecond{
    background-image: url('../img-content/front/quiSommesNous8.jpg');
    background-size: cover;
}

.alignBottomClassic{
    margin-bottom: 15px;
}

.bannerPageWhoAreYouAlignTop{
    padding-top: 20vh !important;
}

@media screen and (max-width: 767px) {
    .styleTitleLequipeBureau{
        padding-top: 10vh;
        margin-bottom: 10vh;
    }
    .bannerPageWhoAreYouFirst {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    .displayNone{
        display: none;
    }
    .marginTopContentPageWhoAreYou {
        margin-top: 0vh;
    }
    .contentPageWhoAreYou p {
        padding-top: 0px;
        padding-bottom: 20px;
    }
    .widthImgSectionTwo {
        width: 15em;
        position: static;
        border-radius: 100%;
        height: 15em;
        margin-bottom: 5vh;
    }
    .contentPageWhoAreYou .rectImgColorPink {
        display: none;
    }
    .rectImgColorRedBanner {
        display: none;
    }
    .bannerPageWhoAreYou {
        margin-top: 15vh;
        margin-bottom: 10vh;
    }
    .containerImgNotreStrategie {
        width: 70%;
        margin-left: 15%;
        position: relative;
        margin-top: 15vh;
    }
    .orderPlusOne{
        order: 2;
    }
    .bannerPageWhoAreYou p{
        padding-top: 10%;
    }
    .containerImgPageWhoAreYouSecond{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .containerImgNotreStrategie img{
        width: 90%;
        margin-left: 5%;
        height: 37vh;
    }
}
.borderArticle
{
    border-bottom: 1px solid lightgrey;
}

/* 

Page Contactez nous

*/


.btn-width {
  width: 80%;
  height: 50%;
}

.btn-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.btn-legal {
  border: none;
}

.btn-legal:hover {
  background-color: transparent;
}

.alignTitleContact{
    margin-top: 6vh;
}

.formContact textarea,
.formContact input{
    padding: 10px 5px 10px 0px;
}

.formContact label[for="exampleInputPassword1"],
.formContact label[for="exampleTextarea"]{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 6vh;
}

/* 

Page 404 

*/

#content404
{
    width: 42%;
    margin: 2% auto;
    text-align: center;
}

#content404 h1
{
    font-size: 10em;
    font-family: Dubai, sans-serif;
    color: #e03946;
}
#content404 h2
{
    color: #e03946;
    font-family: "Open Sans", sans-serif;
    font-size: 2em;
    margin-bottom: 5%;
}
#content404 p
{
    font-family: "Open Sans", sans-serif;
    width: 60%;
    margin: 0 auto 5% auto;
    font-size: 1.5em;
}

.rectImgColorYellowDonate
{
    background-color: #FFC145;
    border-radius: 10px;
    position: absolute;
    top: -5%;
    right: -1%;
    z-index: -2;
    width: 96%;
    height: 80%;
}

.rectImgColorGreenDonate
{
    background-color: #30d08d;
    border-radius: 10px;
    position: absolute;
    top: 6%;
    left: 16%;
    z-index: -2;
    width: 62%;
    height: 100%;
}

@media screen and (min-width: 300px) and (max-width: 700px)
{
    #content404
    {
        width: 100%;
    }
}

.button404{
    padding: 15px 70px 15px 70px;
}

 /*

CONNEXION

*/

.h1-co {
  margin-top: 10vh;
  margin-bottom: 5%;
  text-transform: uppercase;
  font-size: 2.250em;
}

.btn-co {
  margin-top: 10%;
}

/* 

Page quotidien 

*/

.contentQuotidien ul{
    list-style: none;
    padding: 0px;
}

.contentQuotidien li{
    margin-top: 20px;
    font-size: 1.150em;
}

.contentQuotidien p{
    font-size: 1.150em;
}

.quotidientRowMarginTop h2{
    margin-bottom: 10vh;
}

.contentQuotidien img{
    margin-top: 15vh;
    width: 90px;
    height: 90px;
    margin-bottom: 5vh;
}

/* 

Page Partners 

*/

.pagePartners{
    margin-top: 10vh;
}

.pagePartners h1,
.pagePartners h2{
    color: #FA575D;
}

.pagePartners h2{
    font-size: 1.1em;
    margin-top: 10px;
}

.pagePartners img{
    width: auto;
}

#Logo
{
    max-width: none;
    width: 5em;
    margin-top: 0em;
    margin-right: 3em ;
}

.artImg
{
    margin-bottom: 17%;

}
#actuCat
{
    position: absolute;
    top: -5%;
    left: 5%;
}

.artImg img
{
    width: 60%;
    position: relative;
    overflow: hidden;
    height: 25em;

}
#actuContent
{
    position: absolute;
    top: 20%;
    left: 46%;
    width: 50%;
    background: white;
    padding: 3%;
    box-shadow: 0px 19px 67px -30px rgba(0,0,0,0.75);
}
#actuContent p
{
    color: #000;
    width: 90%;
    margin: 5% auto 0 auto;
    line-height: 150%;
}
#actuContent h3
{
    color: #000;
    line-height: 150%;
}

#rectActuYellow
{
    background-color: #ffc100;
    border-radius: 10px;
    position: absolute;
    top: -2%;
    left: 0.5%;
    z-index: -1;
    width: 42%;
    height: 16em;
}


@media screen and (max-width: 991px)
{
    #rectActuYellow, #rectActuRed
    {
        display: none;
    }

    .artImg img
    {
        width: 100%;
    }

    .artImg
    {
        margin-bottom: 10%;
    }

    #actuContent
    {
        width: 100%;
        position: inherit;

    }
}
