body{
    overflow-x: hidden;
}

th {
    cursor: pointer;
}

button {
    cursor: pointer;
}

h1.h1 {
    margin-bottom: 30px;
}

.tagColors {
    padding: 0;
}

.tagColor {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.border {
    border: 1px solid black;
}

.tag_red {
    background: indianred;
}

.tag_blue {
    background: aquamarine;
}

.tag_yellow {
    background: yellow;
}

.tag_pink {
    background: pink;
}

.mg-top {
    margin: 20px 0;
}

.decorationNone{
    text-decoration: none !important;
    color: rgb(190,190,210);
}

.decorationNone:hover{
    color: inherit;
}

.pointer{
    cursor: pointer;
}

.invisible{
    display: none;
}

/* 

Barre de nav top

*/

nav ul{
    list-style: none;
}

.backgroundNav{
    z-index: 5;
    height: 8vh;
    background-color: white;
    overflow: auto;
    position: fixed;
    -webkit-box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
    box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
}

.backgroundNav nav ul li:first-child{
    position: absolute;
    left: 18%;
    font-size: 1.1em;
    font-weight: 600;
}

.liNavBar{
    position: absolute;
    top: 1.5vh;
    right: 0px;
    margin-right: 6%;
}

.liNavBar button{
    -webkit-box-shadow: -5px 4px 15px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: -5px 4px 15px 0px rgba(0,0,0,0.07);
    box-shadow: -5px 4px 15px 0px rgba(0,0,0,0.07);
    background-color: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    right: -10px;
    top: -20%;
    cursor: pointer;
    z-index: 4;
}

.liNavBar button img{
    width: 18px;
    height: 18px;
}

.form-wrapper input:focus + .underline{
    width: 100%;
    left: 0%;
    transition: 0.4s;
}

.underline{
    z-index: 3;
    position: absolute;
    bottom: 0px;
    left: 50%;
    height: 1px;
    width: 0%;
    background-color: lightgreen;
    transition: 0.4s;
}

input{
    outline: none;
}

input[name="searchBar"]{
    border:none;
    border-bottom: 1px solid #ededed;
    padding: 3px 25px 3px 6px;
    font-size: 1em;
}

/* 


Barre de nav aside


*/

.backgroundNavAside{
    height: 100vh;
    position: fixed;
    z-index: 6;
    background-color: #3A3F52;
    overflow: auto;
}
.list-group-item:first-child{
    border-radius: 0px;
}
.paddingFix{
    padding: 0px;
}
.marginTopNavAside{
    margin-top: 15vh;
}
.list-group-item{
    background-color: transparent;
    color: rgb(190,190,210);
    transition: 0.3s;
    border-radius: 0px;
    border: none;
    cursor: pointer;
}
.backgroundNavAside ul li a{
    text-decoration: none;
}
.list-group-item:hover{
    color: white;
}
.active{
    background-color: #13DAFD !important;
}
.active a{
    color: white;
}
.list-group-item span{
    background-color: #B3B4E1;
    transition: 0.3s
}

/* 


Style des carte material design 


*/

.card{
    background-color: white;
    -webkit-box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
    box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
    overflow: hidden;
    padding: 20px;
    margin-left: 2.5%;
    border: 0px !important;
}

.cardPageAdd{
    background-color: white;
    -webkit-box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
    box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.08);
    overflow: hidden;
    padding: 30px;
    margin-left: 2.5%;
    border: 0px !important;
}

.descriptionCard .strong{
    font-weight: 600;
    font-size: 2em;
    margin-left: 5%;
}


.margin-top-published{
    margin-top: 5vh;
}
.white-box{
    margin-top: 5vh;
}

.alignTop{
    padding-top: 15vh;
}
.behindFix{
    position: relative;
    z-index: 2;
}

.alignTopSelect{
    margin-top: 5vh;
}

.alignLeftTag{
    margin-left: 10px;
    cursor: pointer;
}

/* 


Pagination



*/

.page-link{
    color: rgb(190,190,210);
}
.alignTopPagination{
    margin-top: 10vh;
}

/* 


Page add


*/

.col-xs-8Custom,
.col-md-8Custom{
    width: 64.5%;
}

.styleForm{
    margin-top: 20px;
    font-size: 1.2em;
}

.marginBottomAjoutArticle{
    margin-bottom: 20px;
}

.marginTopAddTag{
    margin-top: 15px;
}

#details .jumbotron
{
    padding: 22% 0;
    background: url("../img-content/uploads/80998.jpg") center no-repeat;
}

#details article
{
    width: 80%;
    margin: 0 auto;
    line-height: 27pt;
    font-size: 18px;
}

#details ul {
    padding: 3% 5% 3% 1%;
}

/* 

Home page

*/

@font-face {
    font-family: Dubai-Bold;
    src: url('../font/Dubai-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Dubai-Light;
    src: url('../font/Dubai-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Dubai-Medium;
    src: url('../font/Dubai-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Dubai-Regular;
    src: url('../font/Dubai-Regular.ttf');
    font-weight: 400;
}

.fontWeightBoldDubai{
    font-weight: 600;
}

/* 
Navbar
*/


.navbar{
    font-size: 0.95em;
    height: 8vh;
}

.navbar-collapse ul li{
    margin-right: 10px;
    font-weight: 500;
}

.navbar-collapse ul li:last-child{
    margin-right: 100px;
}

/* 
HomePage premier 100vh
*/

.homePage{
    height: 86vh;
    background-image: url('');
    background-color: grey;
    text-align: center;
}

.callToAction{
    background-color: grey;
    padding: 20px 0px 20px 0px;
    width: 350px;
    color: white;
    border: none;
    font-size: 0.8em;
    font-weight: 600;
}

.homePage h2{
    margin-top: 30vh;
    color: white;
    font-size: 2.875em;
    font-weight: 400;
}

.homePage button{
    margin-top: 5vh;
}

/* 
HomePage reste du contenu
*/

.contentHomePage{
    margin-top: 15vh;
}

.contentHomePage .row:nth-child(n+2){
    margin-top: 20vh;
}

.contentHomePage img{
    width: 100%;
    height: 400px;
    position: relative;
    background-color: #D8D8D8;
    z-index: 3;
    border-radius: 10px;
}

.rectImgColorRed{
    background-color: #fa575b;
    border-radius: 10px;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 2;
    width: 100%;
    height: 400px;
}

.contentHomePage h3{
    font-size: 1.8em;
    font-weight: 500;
    margin-bottom: 40px;
}

.contentHomePage p{
    font-size: 1.300em;
    font-weight: 300;
    line-height: 1.8em
}

.alignContainerTextHomePageRight{
    margin-top: 100px;
    margin-left: 5%;
}

.alignContainerTextHomePageLeft{
    margin-top: 100px;
    margin-right: 3%;
}

.rectImgColorYellow{
    background-color: #ffc145;
    border-radius: 10px;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 2;
    width: 100%;
    height: 400px;
}

.rectImgColorGreen{
    background-color: #06d6a0;
    border-radius: 10px;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 2;
    width: 100%;
    height: 400px;
}

.contentHomePage h4{
    font-size: 1.5em;
    margin-bottom: 70px;
}
.rowMarginTopFixCallToAction{
    margin-top: 20vh;
}

/* 
Responsive home page
*/

@media screen and (max-width: 767px) {
  .rectImgColorGreen,
  .rectImgColorRed,
  .rectImgColorYellow{
    display: none;
}
.row{
    margin: 0;
}
.rowMarginTopFix{
    margin-top: 20px !important;
}
.rowMarginTopFixCallToAction{
    margin-top: 20vh;
}
.alignContainerTextHomePageRight{
    margin-left: 0%;
    margin-top: 20px;
    padding: 10px;
}

.alignContainerTextHomePageLeft{
    margin-top: 20px;
    padding: 10px;
}
.contentHomePage h3{
    text-align: center;
}

.contentHomePage p{
    text-align: center;
}
.contentHomePage img{
    border-radius: 0px;
}
.orderContentHomePage{
    order: -1;
}
}

/* 
page qui sommes nous ?
*/

.homePage p{
    color: white;
    margin-top: 5vh;
    font-size: 1.250em;
}

.contentPageWhoAreYou{
    margin-top: 15vh;
}

.contentPageWhoAreYou p{
    font-size: 1.188em;
    font-weight: 300;
    padding-top: 70px;
}
.containerImgPageWhoAreYou{
    width: 20em;
    height: 20em;
    position: relative;
}
.positionnement{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #D8D8D8;
    z-index: 3;
    border-radius: 10px;
}

.imgRotatePageWhoAreYou{
    transform: rotate(45deg);
    width: 20em;
    height: 20em;
}

.contentPageWhoAreYou .rectImgColorRed{
    background-color: #fa575b;
    transform: rotate(45deg);
    border-radius: 10px;
    position: absolute;
    top: -0px;
    right: -15px;
    z-index: 2;
    width: 20em;
    height: 20em;
}

.contentPageWhoAreYou .rectImgColorPink{
    background-color: #fa575b;
    border-radius: 10px;
    position: absolute;
    top: -12px;
    left: -12px;
    z-index: 2;
    width: 6em;
    height: 25em;
}

.marginTopContentPageWhoAreYou{
    margin-top: 25vh;
}

.widthImgSectionTwo{
    width: 25em;
    height: 25em;
}

.bannerPageWhoAreYou{
    width: 100%;
    height: 30vh;
    margin-top: 50vh;
    position: relative;
}

.bannerPageWhoAreYou img{
    width: 100%;
    height: 30vh;
    background-color: #D8D8D8;
    position: absolute;
    z-index: 3;
}

.rectImgColorRedBanner{
    background-color: #fa575b;
    border-radius: 10px;
    position: absolute;
    top: -20px;
    right: 5%;
    z-index: 2;
    width: 45%;
    height: 30vh;
}


/* 
Notre straptégie 
*/


.styleTitleNotreStategie{
    margin-bottom: 10vh;
    font-size: 3em;
    font-weight: bold;
}

.paddingTopFix{
    padding-top: 10px !important;
}

.containerImgNotreStrategie{
    width: 100%;
    position: relative;
}

.containerImgNotreStrategie img{
    width: 100%;
    height: 300px;
    background-color: #D8D8D8;
    position: relative;
    z-index: 3;
}

.rectImgColorRedStrategieOne{
    background-color: #fa575b;
    border-radius: 10px;
    position: absolute;
    top: -20px;
    right: -10px;
    z-index: 2;
    width: 25%;
    height: 300px;
}

.rectImgColorRedStrategieTwo{
    background-color: #fa575b;
    border-radius: 10px;
    position: absolute;
    bottom: -15px;
    left: -5px;
    z-index: 2;
    width: 50%;
    height: 180px;
}

.rectImgColorRedStrategieThree{
    background-color: #fa575b;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: -15px;
    z-index: 2;
    width: 30%;
    height: 300px;
}

.rectImgColorRedStrategieFour{
    background-color: #06d6a0;
    border-radius: 10px;
    position: absolute;
    bottom: -15px;
    right: -5px;
    z-index: 2;
    width: 70%;
    height: 100px;
}

.containerImgNotreStrategie p{
    font-size: 1em;
    font-weight: 400;
    margin-top: 25px;
    padding-top: 0px;
    position: absolute;
    z-index: 5;
}

@media screen and (max-width: 767px) {
    .displayNone{
        display: none;
    }
    .marginTopContentPageWhoAreYou {
        margin-top: 0vh;
    }
    .contentPageWhoAreYou p {
        padding-top: 0px;
        padding-bottom: 20px;
    }
    .widthImgSectionTwo {
        width: 15em;
        position: static;
        border-radius: 100%;
        height: 15em;
        margin-bottom: 5vh;
    }
    .contentPageWhoAreYou .rectImgColorPink {
        display: none;
    }
    .rectImgColorRedBanner {
        display: none;
    }
    .bannerPageWhoAreYou {
        margin-top: 15vh;
        margin-bottom: 10vh;
    }
    .containerImgNotreStrategie {
        width: 80%;
        position: relative;
        margin-top: 15vh;
    }
    .orderPlusOne{
        order: 2;
    }
    .bannerPageWhoAreYou p{
        padding-top: 10%;
    }
    .containerImgPageWhoAreYouSecond{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}